@if (isOpen()) {
  <div
    class="tw-fixed tw-top-16 tw-right-4 tw-z-50 tw-min-w-[180px] tw-overflow-hidden tw-rounded-lg tw-border tw-border-secondary-100 tw-bg-background tw-shadow-lg"
  >
    <div class="tw-border-b tw-border-secondary-100 tw-bg-background-alt tw-px-3 tw-py-1.5">
      <span class="tw-text-[10px] tw-font-semibold tw-uppercase tw-tracking-widest tw-text-muted">
        Dev Tools
      </span>
    </div>
    <div>
      <button
        type="button"
        class="tw-block tw-w-full tw-cursor-pointer tw-border-none tw-bg-background tw-px-3 tw-py-1.5 tw-text-left !tw-text-main hover:tw-bg-hover-default"
        (click)="onImportData()"
      >
        Import Data from Access Intelligence
      </button>
    </div>
    <hr />
    <div>
      <button
        type="button"
        class="tw-block tw-w-full tw-cursor-pointer tw-border-none tw-bg-background tw-px-3 tw-py-1.5 tw-text-left !tw-text-main hover:tw-bg-hover-default"
        (click)="onBeginNewAdminWelcomeTour()"
      >
        Begin New Admin Welcome Tour
      </button>
    </div>
    <div>
      <button
        type="button"
        class="tw-block tw-w-full tw-cursor-pointer tw-border-none tw-bg-background tw-px-3 tw-py-1.5 tw-text-left !tw-text-main hover:tw-bg-hover-default"
        (click)="onResetNewAdminWelcomeDialogAck()"
      >
        Undo New Admin Welcome Dialog Acknowledgement
      </button>
    </div>
    <div>
      <button
        type="button"
        class="tw-block tw-w-full tw-cursor-pointer tw-border-none tw-bg-background tw-px-3 tw-py-1.5 tw-text-left !tw-text-main hover:tw-bg-hover-default"
        (click)="onShowNewAdminWelcomeDialogAckState()"
      >
        New Admin Welcome Acknowledged? {{ newAdminWelcomeDialogAcked() }}
        <bit-badge variant="secondary">Click to refresh</bit-badge>
      </button>
    </div>
    <hr />
    <div>
      <button
        type="button"
        class="tw-block tw-w-full tw-cursor-pointer tw-border-none tw-bg-background tw-px-3 tw-py-1.5 tw-text-left !tw-text-main hover:tw-bg-hover-default"
        (click)="onBeginPostImportTour()"
      >
        Begin Post Import Tour
      </button>
    </div>
    <div>
      <button
        type="button"
        class="tw-block tw-w-full tw-cursor-pointer tw-border-none tw-bg-background tw-px-3 tw-py-1.5 tw-text-left !tw-text-main hover:tw-bg-hover-default"
        (click)="onResetPostImportDialogAck()"
      >
        Undo Post Import Dialog Acknowledgement
      </button>
    </div>
    <div>
      <button
        type="button"
        class="tw-block tw-w-full tw-cursor-pointer tw-border-none tw-bg-background tw-px-3 tw-py-1.5 tw-text-left !tw-text-main hover:tw-bg-hover-default"
        (click)="onShowPostImportDialogAckState()"
      >
        Post Import Dialog Acknowledged? {{ postImportDialogAcked() }}
        <bit-badge variant="secondary">Click to refresh</bit-badge>
      </button>
    </div>
    <hr />
    <div>
      <button
        type="button"
        class="tw-block tw-w-full tw-cursor-pointer tw-border-none tw-bg-background tw-px-3 tw-py-1.5 tw-text-left !tw-text-main hover:tw-bg-hover-default"
        (click)="onBeginCoachmarksTour()"
      >
        Begin Coachmarks tour
      </button>
    </div>
    <div>
      <button
        type="button"
        class="tw-block tw-w-full tw-cursor-pointer tw-border-none tw-bg-background tw-px-3 tw-py-1.5 tw-text-left !tw-text-main hover:tw-bg-hover-default"
        (click)="onResetCoachmarksTourAck()"
      >
        Undo Coachmarks Tour Acknowledgement
      </button>
    </div>
    <div>
      <button
        type="button"
        class="tw-block tw-w-full tw-cursor-pointer tw-border-none tw-bg-background tw-px-3 tw-py-1.5 tw-text-left !tw-text-main hover:tw-bg-hover-default"
        (click)="onShowCoachmarksTourAckState()"
      >
        Coachmarks Tour Acknowledged? {{ coachmarksTourAcked() }}
        <bit-badge variant="secondary">Click to refresh</bit-badge>
      </button>
    </div>
    <hr />
    <div class="tw-border-t tw-border-secondary-100 tw-px-3 tw-py-1.5">
      <span class="tw-text-[10px] tw-text-muted">Press Esc or click outside to close</span>
    </div>
  </div>
}
