<popup-page>
  <popup-header
    slot="header"
    [pageTitle]="headerText"
    showBackButton
    [backAction]="onBackClick.bind(this)"
  ></popup-header>

  @if (this.config.originalSend?.disabled) {
    <bit-callout type="info" [title]="'sendNotCompliantWithYourOrgsPolicy' | i18n">
      @if (showCopyButton()) {
        <div>{{ "sendDisabledNonCompliantBannerMessage" | i18n }}</div>
        <button class="tw-mt-4" , type="button" bitButton buttonType="primary" (click)="makeCopy()">
          {{ "makeACopy" | i18n }}
        </button>
      } @else {
        <div>{{ "sendWillExpireOnDeletionDate" | i18n }}</div>
      }
    </bit-callout>
  }

  <tools-send-form
    formId="sendForm"
    [config]="config"
    (onSendCreated)="onSendCreated($event)"
    (onSendUpdated)="onSendUpdated($event)"
    (openPasswordGenerator)="openGenerator()"
    [editing]="editing()"
    [submitBtn]="submitBtn()"
  >
  </tools-send-form>

  <popup-footer slot="footer">
    @if (config.originalSend?.disabled) {
      @if (showCopyButton()) {
        <button type="button" bitButton buttonType="primary" (click)="makeCopy()">
          {{ "makeACopy" | i18n }}
        </button>
      } @else {
        <button bitButton type="button" buttonType="danger" (click)="deleteSend()">
          {{ "delete" | i18n }}
        </button>
      }
    } @else {
      @if (editing()) {
        <button bitButton type="submit" form="sendForm" buttonType="primary" #submitBtn>
          {{ "save" | i18n }}
        </button>
        <button bitButton type="button" buttonType="secondary" (click)="onCancelClick()">
          {{ "cancel" | i18n }}
        </button>
      } @else {
        <button bitButton type="button" buttonType="secondary" (click)="editSend()">
          {{ "edit" | i18n }}
        </button>
      }
    }
    @if (showTrashIconButton()) {
      <button
        type="button"
        buttonType="dangerGhost"
        slot="end"
        bitIconButton="bwi-trash"
        [bitAction]="deleteSend"
        label="{{ 'delete' | i18n }}"
      ></button>
    }
  </popup-footer>
</popup-page>
