<popup-page [disablePadding]="true">
  <popup-header
    slot="header"
    [background]="'alt'"
    [showBackButton]="showBackButton"
    [pageTitle]="''"
  >
    <div class="tw-w-32">
      <bit-svg *ngIf="showLogo" [content]="logo" [ariaLabel]="'appLogoLabel' | i18n"></bit-svg>
    </div>

    <ng-container slot="end">
      <app-pop-out></app-pop-out>
      <app-current-account *ngIf="showAcctSwitcher && hasLoggedInAccount"></app-current-account>
    </ng-container>
  </popup-header>

  <auth-anon-layout
    [title]="pageTitle"
    [subtitle]="pageSubtitle"
    [icon]="pageIcon"
    [showReadonlyHostname]="showReadonlyHostname"
    [hideLogo]="true"
    [maxWidth]="maxWidth"
    [hideFooter]="hideFooter"
    [hideCardWrapper]="hideCardWrapper"
    [hidePageIcon]="hidePageIcon"
    [contentVerticalPadding]="contentVerticalPadding"
    [footerVerticalPadding]="footerVerticalPadding"
    [heroTextAlignment]="heroTextAlignment"
    [secondaryContentLocation]="secondaryContentLocation"
  >
    <router-outlet></router-outlet>
    <!-- The shared layout exposes two distinct slot selectors. We pick which one -->
    <!-- to project into based on the route-level secondaryContentLocation flag. -->
    @if (secondaryContentLocation === "footer") {
      <router-outlet slot="footer-secondary" name="secondary"></router-outlet>
    } @else {
      <router-outlet slot="secondary" name="secondary"></router-outlet>
    }
    <router-outlet slot="environment-selector" name="environment-selector"></router-outlet>
  </auth-anon-layout>
</popup-page>
